
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.Ebig-heading {
  font-family: sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.need_margin{
  margin: 3%;
}
#breed{
  font-family: sans-serif;
  padding: 1%;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #00B4D8;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
.app{
  background-color: #00B4D8;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.slideshow{
  background-color: #CAF0F8;
  width: 100%;
  height : 650px;
  flex:1;
  position: relative;
}
.slide{
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0;
  transform: scale(1);
  transition: all .9s ease-out;
}

.slide:nth-last-child(2){
  opacity: 1;
  transform: scale(1.08);
}
/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #00B4D8;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #48CAE4;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00B4D8;
}

/* Testimonial Section */

#testimonials {
  background-color: #48CAE4;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #48CAE4;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
